<html>
  <head>
    <title></title>
    <link href='<%= "/stylesheet.css?sha=#{Shack.sha}" %>' rel='stylesheet' type='text/css'>
    <link rel="preload" href="/fonts/LeagueGothic-Regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/blackout_midnight-webfont.woff" as="font" crossorigin>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
