<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= OhCanada::TITLE %></title>
    <link href='<%= "/stylesheet.css?v=#{Shack.sha}" %>' rel='stylesheet' type='text/css'>
    <link rel="preload" href="/fonts/LeagueGothic-Regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/blackout_midnight-webfont.woff" as="font" crossorigin>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f0bdbd">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#252520">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% @mickey.meta_attributes(base_url: request.base_url).each do |attributes| %>
      <meta <%= attributes %>>
    <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
