html {
    background: url('splat.png') center center no-repeat, url('background.png') top left repeat;
    background-attachment: fixed;
    background-color: #151515;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

body,p,h1 {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font: 8vmax 'Vollkorn', Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 3vmax;
    color: white;
}

h2 {
    font-weight: normal;
    font-size: 26px;
    color: #666;
}

.illustration {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

p.subtitle {
    font: 18px Helvetica,Arial, Verdana, sans-serif;
    color: #333;
    margin: 30px 0 15px 0;
}
.metadata {
   margin-top: 10px;
   font-size: 12px;
}
.metatadata a {
    float: right;
}

h2.longjohns {
    margin-top: 30px;
}
h2.seriously a {
    color: #DBDBDB;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #fff
}
a:active {
    color: #fff
}
