:root {
    --such-color: #f0bdbd;
    --color-such: #252520;
    --such-timing: 0.3s;
    --such-other-font-family: 'LeagueGothic', CenturyGothic, AppleGothic, sans-serif;
    --such-hero-font-family: 'Blackout-Midnight', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}

@font-face {
  font-family: 'LeagueGothic';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/LeagueGothic-Regular.woff2") format("woff2"),
       url("fonts/LeagueGothic-Regular.woff") format("woff");
  unicode-range: U+0020-007F; /* Load Basic Latin */
}

@font-face {
  font-family: 'Blackout-Midnight';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/blackout_midnight-webfont.woff") format("woff");
  unicode-range: U+0020-007F; /* Load Basic Latin */
}

html {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(241, 190, 190, 0.1)),
                center / contain url('maple.png') no-repeat;
    background-attachment: fixed;
    background-color: var(--color-such);
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.real-human-being {
    background-color: var(--such-color);
    color: var(--color-such);
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    position: absolute;
    font-family: var(--such-other-font-family);
    text-transform: uppercase;
    font-size: 4vh;
    border-bottom: 1px solid var(--color-such);
    outline: 2px solid black;

}
.real-human-being {
    width: 100%;
    text-align: center;
}
.a-hero-eh {
    text-align: center;
    font: 8vmax var(--such-hero-font-family);
    color: var(--such-color);
    align-self: center;
}

body {
    color: #fff;
    font: 8vmax Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
}

h1 {
    font-weight: normal;
    font-size: 3vmax;
    color: white;
}

h2 {
    font-weight: normal;
    font-size: 26px;
    color: #666;
}

.illustration {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

p.subtitle {
    font: 18px Helvetica,Arial, Verdana, sans-serif;
    color: #333;
    margin: 30px 0 15px 0;
}
.metadata {
   margin-top: 10px;
   font-size: 12px;
}
.metatadata a {
    float: right;
}

.references {
    font-family: var(--such-other-font-family);
    text-transform: uppercase;
    font-size: 4vh;
    position:absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.references > li {
    flex-grow: 1;
}

.references > li > a {
    text-decoration: none;
    transition: all var(--such-timing) ease-out;
    padding: 0 1rem;
    background-color: var(--color-such);
    color: var(--such-color);
    display: block;
}

.references > li > a:hover {
    transition: all var(--such-timing) ease-out;
    color: var(--color-such);
    background-color: var(--such-color);
}

.references {
    width: 100%;
    text-align: center;
}

.bill-werbeniuk {
    display: none;
}

@media screen and (min-width: 1200px) {
    .bill-werbeniuk {
        display: inline;
    }
}
