html {
    background: url('splat.png') center center no-repeat, url('background.png') top left repeat;
    background-attachment: fixed;
    background-color: #151515;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

body,p,h1 {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font: 10vmax 'Vollkorn', Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    margin-top: 150px;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 26px;
    color: #666;
}
p.subtitle {
    font: 18px Helvetica,Arial, Verdana, sans-serif;
    color: #333;
    margin: 30px 0 15px 0;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #fff
}
a:active {
    color: #fff
}
